<!-- <h1>Ejemplos de gráficas</h1>

<h2>Bar Chart - % Presupuesto de la ciudad</h2>
<app-barras></app-barras>
<hr>
<h2>Barras dobles Chart - % Presupuesto de la ciudad</h2>
<app-barras-dobles></app-barras-dobles>

<h2>Line Chart</h2>

<h2>Dona Chart</h2>

<h2>Pie Chart</h2>
 -->

<h1>Ejemplos de gráficas</h1>

<h2><a routerLink="barras">Barchart</a></h2>
<h2><a routerLink="barras-dobles">Barchart doble</a></h2>
<h2><a routerLink="dona">Dona Chart</a></h2>
<h2><a routerLink="line">Line Chart</a></h2>
